In [1]:
from pandas import DataFrame
import numpy as np

In [2]:
dataframe = DataFrame(np.random.randn(10000000))

def sum_and_apply(x):
    return x + x + np.imag(x)

In [3]:
dataframe.head()

          0
0  0.370682
1 -0.242916
2 -0.111041
3  0.260275
4  0.450145

In [4]:
%timeit [sum_and_apply(x) for x in dataframe[0]]
%timeit np.power(dataframe[0] + dataframe[0], np.imag(dataframe[0]))
%timeit np.vectorize(sum_and_apply)(dataframe[0])
%timeit dataframe.apply(lambda x: sum_and_apply(dataframe[0]))

6.36 s ± 204 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
81 ms ± 518 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)
5.46 s ± 125 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
202 ms ± 3.63 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)